<template name="login">
  {{#contentFor "headerButtonLeft"}}  
    {{>ionNavBackButton path="main"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Login</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if loginError}}
        <p class="padding center-align">{{loginError}}</p>
      {{/if}}
      <form action="">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input id="login-email" type="email">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input id="login-password" type="password">
          </label>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced">login</button>
        </div>
      </form>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="logout">
  <button class="btn btn-default logout">
      <a href="#" style="color:#fff;">LOG OUT</a>
   </button>
</template>