<template name="campaignslist">
  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Campaigns List</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{>logout}}
      {{#each campaignsCreated}}
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{campaignName}}<i class="right material-icons" style="font-size: 35px;">expand_more</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      {{/each}}     
    {{/ionContent}}
  {{/ionView}}
  {{> tabs}}
</template>