<template name="campaignslist">
  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Campaigns List</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{>logout}}
      {{#each campaignsCreated}}
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://placehold.it/350x150">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{campaignName}}<i class="right material-icons" style="font-size: 35px;">expand_more</i></span>
              <p style="font-size: 18px;"><i class="ion-ios-pricetags" style="font-size: 30px;"></i> {{coupounsOffered}}</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{campaignName}}<i class="material-icons right">close</i></span> <br>
              {{#ionList}}
                  <a class="item item-icon-left" style="white-space: inherit;" href="#">
                    <i class="icon ion-chatbubble-working"></i>
                    {{campaignMessage}}
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-ios-calendar"></i>
                      Activated On
                    <i class="icon ion-ios-telephone-outline"></i>
                  </a>
                  <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-home"></i>
                      Valid At Store
                    <i class="icon ion-ios-telephone-outline"></i>
                  </a>
              {{/ionList}}
            </div>
          </div>
      {{/each}}     
    {{/ionContent}}
  {{/ionView}}
  {{> tabs}}
</template>

