<template name="campaignscreate">
  {{#contentFor "headerButtonLeft"}}  
    {{>ionNavBackButton path="businesscreate"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title futura-extra-bold">Create a Campaign</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <form action="">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Campaign Name</span>
            <input name="campaignName" type="text">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Campaign Message</span>
            <input name="campaignMessage" type="text">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Coupon Image</span>

            <input name="campaignCouponImage" type="hidden"><br>
            {{> campaigneditimage}}         
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Coupons Offered in Campaign</span>
            <input name="coupounsOffered" type="text">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Coupons Expires in Hrs</span>
            <input name="coupounsExpires" type="text">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Campaign Target Distance in Miles</span>
            <input name="campaignTarget" type="text">
          </label>

        </div>

        <div class="padding">
          <button class="button button-block button-balanced">Create Campaign</button>
        </div>
      </form>
    {{/ionContent}}
  {{/ionView}}
</template>
<template name="campaigneditimage">
      <a class="btn-floating btn-small waves-effect waves-light" style="background-color:#8dc63f"><i class="material-icons">add</i></a>
</template>

<!-- <template name="campaignscreate">
  {{#contentFor "headerButtonLeft"}}  
    {{>ionNavBackButton path="businesscreate"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Create a Campaign</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#autoForm collection="Campaigns" id="createCampaign" type="insert" doc=this}}
        <div class="list">
          {{> afQuickField name='campaignName'}}
          {{> afQuickField name='campaignMessage'}}
          {{> afQuickField name='campaignCouponImage'}}
          {{> afQuickField name='coupounsOffered'}}
          {{> afQuickField name='coupounsExpires'}}
          {{> afQuickField name='campaignTarget'}}
        </div>

        <div class="padding">
          <button type="submit" class="button button-block button-balanced">
            Create Campaign
          </button>
        </div>      
          
      {{/autoForm}}
    {{/ionContent}}
  {{/ionView}}
</template> -->

