// Add Custom/Override Variables Here:
//$positive: #DE4F4F;

$stable: #8dc63f;
$positive: #fff;
$font-family-sans-serif: 'FuturaStd-Light'!default;
$button-stable-text: #fff !default;
$tabs-positive-bg:#8DC63F !default;