.item-input {
    display: block;
    background-color: transparent;
    box-shadow: none;
}

nav .brand-logo {
    top: 13px;
}

.month {
	font-family: 'FuturaStd-Light';
}

.day {
	font-family: 'FuturaStd-ExtraBold';
}