<template name="main">

  {{#contentFor "headerButtonLeft"}}
    

  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Main</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <a href="{{pathFor 'businesscreate'}}" class="button button-block button-stable">
          Register
        </a>
        
        <a href="{{pathFor 'login'}}" class="button button-block button-stable">
          Login
        </a>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
