<template name="tabs">
	{{#ionTabs style="ios"}}
      {{> ionTab title="Menu 1" path="campaignslist" iconOff="ios-pricetags-outline" iconOn="ios-pricetags" class="tab-item-positive"}}

      {{> ionTab title="Menu 2" path="" iconOff="ios-plus-outline" iconOn="ios-plus" class="tab-item-positive"}}

      {{> ionTab title="Camera" path="" iconOff="ios-camera" iconOn="ios-camera" class="tab-item-positive"}}

      {{> ionTab title="Menu 3" path="" iconOff="ios-locked-outline" iconOn="ios-locked" class="tab-item-positive"}}
      
      {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
    {{/ionTabs}}
</template>