<template name="addcampaign">
{{#ionModal customTemplate=true}}
	<div class="bar bar-header bar-stable">
	    {{#if isAndroid}}

	      <button data-dismiss="modal" class="button button-icon waves-effect waves-green" style="right:8px;"><i class="icon ion-android-arrow-back"></i></button>
	    {{else}}
	        <button data-dismiss="modal" class="button button-icon waves-effect waves-green" style="right:8px;"><i class="icon ion-ios-arrow-back"></i> Back</button>
	    {{/if}}
	    <h2 class="title text-uppercase">Start Another Campaign</h2>
	</div>
	{{#ionView}}
	    {{#ionContent}}
	      <form action="">
	        <div class="list">
	        	<label class="item item-input item-stacked-label" style="padding-right:16px!important;">
	        		Location Select
	        		<select class="browser-default">
				      <option value="" disabled selected>Choose a Location</option>
					    {{#each createdlocations}}
					      <option value="{{businessLocation}}">test</option>
					      <!-- <option value="2">Option 2</option>
					      <option value="3">Option 3</option> -->
					    {{/each}}
				    </select>
	        	</label>
			    
	          <label class="item item-input item-stacked-label">
	            <span class="input-label">Campaign Name</span>
	            <input name="campaignName" type="text">
	          </label>

	          <label class="item item-input item-stacked-label">
	            <span class="input-label">Campaign Message</span>
	            <input name="campaignMessage" type="text">
	          </label>

	          <label class="item item-input item-stacked-label">
	            <span class="input-label">Coupon Image</span>

	            <input name="campaignCouponImage" type="hidden"><br>
	            {{> campaigneditimage}}         
	          </label>


	          <label class="item item-input item-stacked-label">
	            <span class="input-label">Coupons Offered in Campaign</span>
	            <input name="coupounsOffered" type="text">
	          </label>

	          <label class="item item-input item-stacked-label">
	            <span class="input-label">Coupons Expires in Hrs</span>
	            <input name="coupounsExpires" type="text">
	          </label>

	          <label class="item item-input item-stacked-label">
	            <span class="input-label">Campaign Target Distance in Miles</span>
	            <input name="campaignTarget" type="text">
	          </label>

	        </div>

	        <div class="padding">
	          <button class="button button-block button-balanced">Create Campaign</button>
	        </div>
	      </form>
	    {{/ionContent}}
	  {{/ionView}}
{{/ionModal}}
</template>