<template name="landingpage">

  {{#contentFor "headerButtonLeft"}}
    

  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <a href="#" class="brand-logo white-text center-align" style="text-transform:uppercase;">
      <span class="month">{{currentMonth}}</span>
      <span class="day">{{currentDay}}</span>
    </a>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        {{#if currentUser }}
          <h2 class="title">You ARE logged in as:</h2>
          <h3>{{currentUser.emails.[0].address}}</h3>
          <a href="{{pathFor 'campaignslist'}}" class="button icon-right ion-chevron-right button-stable">Campaigns List
          </a>
 
        {{else}}
          {{#ionSlideBox}}
            {{#ionSlide class="light-bg"}}
              <div class="slideshow-item">
                <img class="responsive-img" src="images/dable-icon.png" alt="" width="49" style="margin:0 auto;">
                <br>
                <p class="flow-text center-align">
                  location based services used to directly target your surrounding audience
                </p>
              </div>
            {{/ionSlide}}
            {{#ionSlide class="light-bg"}}
              <div class="slideshow-item">
                <img class="responsive-img" src="images/timer.png" alt="" width="49" style="margin:0 auto;">
                <br>
                <p class="flow-text center-align">
                  strategic time sensitive deals based on your potential consumer reach
                </p>
              </div>
            {{/ionSlide}}
            {{#ionSlide class="light-bg"}}
              <div class="slideshow-item">
                <br>
                <p class="flow-text center-align">
                  increase & build a loyal consumer base to promote special offers
                </p>
              </div>
            {{/ionSlide}}
          {{/ionSlideBox}}

          <!-- <h2 class="title center-align">You are NOT logged in</h2> -->
          <a href="{{pathFor 'businesscreate'}}" class="futura-extra-bold button button-block button-stable">
            Register Now!
          </a> 
          <p class="center-align">OR</p>       
          <a href="{{pathFor 'login'}}" class="futura-extra-bold button button-block button-stable">
            Login
          </a>
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>